
$prim:       #129C6B;
$prim_grad:  #0D774D;

$second:      #22493C;
$second_grad: #07533A;

$accend:       $prim;

//special cases:
$daily_quota_background: #cccccc;
$daily_quota_progress:   $prim;

//rgba($red, $green, $blue, $alpha)
$loading_background: rgba(red($second),green($second), blue($second), 0.8);
$loading_contrast:  #ffffff;
$wallet_color:  white;

$text_on_white: $second;
$highlight_on_white: $prim;

//$bridge_controls_background: rgba(251, 251, 252, 0.6);
$bridge_controls_background: rgba(180, 180, 180, 0.4);

$background-UserRequestForSignature:   #f97599;
$background-RelayedMessage:            #f97599;
$background-UserRequestForAffirmation: #ff124f;
$background-AffirmationCompleted:      #ff124f;
$background-SignedForUserRequest:      #129c6b;
$background-SignedForAffirmation:      #129c6b;
$background-CollectedSignatures:       #5be541;
