
$prim:       #129C6B;
$prim_grad:  #0D774D;

$second:      #22493C;
$second_grad: #07533A;

$accend:       $prim;

//special cases:
$daily_quota_background: #cccccc;
$daily_quota_progress:   $prim;

//rgba($red, $green, $blue, $alpha)
$loading_background: rgba(red($second),green($second), blue($second), 0.8);
$loading_contrast:  white;
$wallet_color:  white;

$text_on_white: $second;
$highlight_on_white: $prim;

$bridge_controls_background: rgba(180, 180, 180, 0.4);

//colors for highlighting event states.
$background-UserRequestForSignature:   #f97599;
$background-RelayedMessage:            #f97599;
$background-UserRequestForAffirmation: #ff124f;
$background-AffirmationCompleted:      #ff124f;
$background-SignedForUserRequest:      #129c6b;
$background-SignedForAffirmation:      #129c6b;
$background-CollectedSignatures:       #5be541;

$no_wallet_grad_stop1:  $prim;
$no_wallet_grad_stop2:  $prim_grad;

@import "theme_dark_body";
@import "loading-artis";