
//poa

$prim:       #5c34a2;
$prim_grad:  #5c34a2;

$second:      #45277a;
$second_grad: #45277a;

//special cases
$daily_quota_background: #45277a;
$daily_quota_progress:   #60db97;
$loading_background: rgba(78,44,137, 0.9);
$loading_contrast:  white;
$wallet_color: #502d8d;
