
$prim:       #129C6B;
$prim_grad:  #0D774D;

$second:      #22493C;
$second_grad: #07533A;

$accend:       $prim;

//special cases:
$daily_quota_background: #cccccc;
$daily_quota_progress:   $prim;

//rgba($red, $green, $blue, $alpha)
$loading_background: rgba(red($second),green($second), blue($second), 0.8);
$loading_contrast:  #ffffff;
$wallet_color:  white;

//$bridge_controls_background: rgba(251, 251, 252, 0.6);
$bridge_controls_background: rgba(180, 180, 180, 0.4);
