
$prim:       #F97599;
$prim_grad:  #F097A0;

$second:      #22493C;
$second_grad: #22493C;

//$second:      #F97599;
//$second_grad: #F097A0;

@import "colors_artis_base";

$background_body:        $prim;
$background_body_grad:   $prim_grad;