
//poa

$prim:       #5c34a2;
$prim_grad:  #7b5ab2;

$second:      #45277a;
$second_grad: #45277a;

$accend:       #60db97;

//special cases
$daily_quota_background: #45277a;

$loading_background: rgba(78,44,137, 0.9);
$loading_contrast:  white;
$wallet_color: #502d8d;

$bridge_element_background: $prim;
$bridge_element_background_grad: $prim_grad;

$bridge_controls_background: rgba(251,251,252, 0.2);

$contrast_on_white: #5c34a2;