

$background_header:      white;
$background_header_grad: white; //NOTE: not sure if header_grad makes sense ?!

$background_header_contrast: $second_grad;

$background_body:        $second;
$background_body_grad:   $second_grad;

$daily_quota_progress:   $accend;

$bridge_element_background:   white;
$bridge_element_background_grad: white;

$bridge_element_contrast: $second;
$bridge_element_highlight:       $accend;

$contrast_on_white: $second;

@import "theme_general_value_derivation";