
@font-face {
  font-family: 'Work Sans';
  src: local('Work Sans Light'), local('WorkSans-Light'),
      url('../fonts/WorkSans-Light.woff') format('woff'),
      url('../fonts/WorkSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Work Sans';
  src: local('Work Sans Regular'), local('WorkSans-Regular'),
      url('../fonts/WorkSans-Regular.woff') format('woff'),
      url('../fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Work Sans';
  src: local('Work Sans Medium'), local('WorkSans-Medium'),
      url('../fonts/WorkSans-Medium.woff') format('woff'),
      url('../fonts/WorkSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}


html,
body {
  color: #333;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
