.socials {
  font-size: 0;

  &-item {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &-i {
    transition: 0.3s background-color;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #ffffff;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:hover {
      background-color: fade-out(#fff, 0.6);
    }

    &:before {
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
    }

    &_github {
      &:before {
        content: '';
        background-image: url(../images/socials/github.svg);
        width: 30px;
        height: 30px;
      }
    }

    &_telegram {
      &:before {
        background-image: url(../images/socials/telegram.svg);
        content: '';
        width: 30px;
        height: 30px;
      }
    }

    &_twitter {
      &:before {
        background-image: url(../images/socials/twitter.svg);
        content: '';
        width: 30px;
        height: 30px;
      }
    }

    &_linkedin {
      &:before {
        background-image: url(../images/socials/linkedin.svg);
        content: '';
        width: 30px;
        height: 30px;
      }
    }

    &_medium {
      &:before {
        background-image: url(../images/socials/medium.svg);
        content: '';
        width: 30px;
        height: 30px;
      }
    }

  }
}
